body {
	background-color: #E1DFDE;
	color: #4F000B;
	font-family: 'PT Serif', serif;
	/*font-style:;*/
	margin: 0;
}
.title-font {
	font-family: 'IM FELL DW Pica', serif;
	color: #E1DFDE;
}
.header-photo {
	width: 100%;
}
.sport-photo-div {
	width: 40%;
	margin-left: 2%;
	margin-right: 2%;
}
.sport-photo {
	width: 100%;
}
.photo-container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.red-bg {
	background-color: #4F000B;
}
.margin-5 {
	margin-left: 5%;
	margin-right: 5%;
}
.text-center {
	text-align: center;
}
.sport-container {
	width: 80%;
	margin: auto;
	margin-top: 100px;
	border: 2px solid #4F000B;
}
.caption {
	padding: 5px 20px;
	margin-top: 10px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.title-container {
	background-color: #4F000B;
	margin: auto;
	padding: 5px;
}
.heading-container {
	padding: 3px;
	width: 35%;
	margin: auto;
	margin-top: 10px;
}
.photo-credit {
	font-style: italic;
	opacity: 0.5;
}
footer {
	padding-top: 50px;
}